<!DOCTYPE html>
<html>
<head>
    <title>Readform web console</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript">
        function save_conf() {
            $.ajax({
                type: "POST",
                dataType: "json",
                url: "/save_config",
                data: $('#conf-form').serialize(),
                success: function (result) {
                    console.log(result);
                    if (result.success == true) {
                        alert("Save config success!");
                        window.location.reload();
                    } else {
                        alert(result.message);
                    };
                },
                error : function(result) {
                    alert("Save config failed!");
                }
            });
        }

        setInterval(() => {
            fetch('/otp', {
                method: 'GET',
            })
                .then(response => response.json())
                .then(data => {
                    if (data.prompt !== null) {
                        let userInput = prompt(data.prompt);
                        fetch('/otp', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                            },
                            body: JSON.stringify({input: userInput}),
                        })
                            .then(response => response.json())
                            .then(data => {
                                if (!data.success) {
                                    alert(data.message);
                                }
                            })
                            .catch((error) => {
                                console.error('Error:', error);
                            });
                    }
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
        }, 5000);

    </script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Readform</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Settings <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="row">
        <br>
        <div class="alert alert-primary" role="alert">
            <b>Welcome to Readform! </b>Readform can help you send full article content of news websites to your
            Readwise
            Reader. Learn more at <a
                href="https://github.com/fr0der1c/Readform" target="_blank">https://github.com/fr0der1c/Readform</a>
        </div>
    </div>
    <form action="#" id="conf-form">

        {{range .ConfigSections}}
        <div class="row">
            <h2>{{if ne .Section "global"}}Website: {{end}}{{.DisplayName}}</h2>
        </div>
        {{$section := .Section}}
        {{range .Configs}}
        <div class="row">
            <div class="col-4">
                <b>{{.ConfigName}}{{if .Required}} <span style="color:red;">*</span>{{end}}</b>
            </div>
            <div class="col-8">
                {{if eq .Type "str"}}
                <input class="form-control" name='{{$section}}__{{.ConfigKey}}' value="{{ .CurrentValue }}">
                {{else if eq .Type "str_list"}}
                <input class="form-control" name="{{$section}}__{{.ConfigKey}}" value="{{ .CurrentValue }}">
                {{else if eq .Type "single_selection"}}
                {{$configKey := .ConfigKey}}
                {{range .SelectOptions}}
                <input type="radio" name="{{$section}}__{{$configKey}}" value="{{.Value}}" {{if .Selected}} checked {{end}}> {{.DisplayName}}
                {{end}}
                {{else if eq .Type "multiple_selection"}}
                {{$configKey := .ConfigKey}}
                {{range .SelectOptions}}
                <input type="checkbox" name="{{$section}}__{{$configKey}}" value="{{.Value}}" {{if .Selected}} checked {{end}}> {{.DisplayName}}
                {{end}}
                {{else if eq .Type "bool"}}
                <input type="radio" name="{{$section}}__{{.ConfigKey}}" value="True" {{if eq .CurrentValue "True"}} checked {{end}}> Yes
                <input type="radio" name="{{$section}}__{{.ConfigKey}}" value="False" {{if eq .CurrentValue "False"}} checked {{end}}> No
                {{else}}
                Error: Unknown config type.
                {{end}}

                <br>{{.ConfigDescription}}
            </div>
        </div>
        <br>
        {{end}}
        {{if eq .Section ""}}
        <div class="row">
            <br><b>Below options are used for each website. If a website is not enabled, you don't need to fill in their fields below.</b>
            <br><br><br><br>
        </div>

        {{end}}
        {{end}}
        <div class="row">
            <button type="button" class="btn btn-primary" onclick="save_conf()">Save</button>
        </div>
    </form>
</div>
<br><br><br>
</body>
</html>
